{% extends "user/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'user/css/login/login.css' %}">
    {% comment %} <link rel="stylesheet" href="{%static 'user/navbar/navbar_user.css'%}"> {% endcomment %}
{% endblock %}

{% block title %}LOG IN{% endblock %}

{% block body %}
{% comment %} {% include "user/navbar_user.html" %} {% endcomment %}
<div class="banner">
    <div class="wrapper">
        <form action="{% url 'user:login' %}" method="post">
            {% csrf_token %}
            
            {% if messages %}
                <div class="error-message">
                    <ul>
                        {% for message in messages %}
                            <li class="error-text">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if form.non_field_errors %}
                <div class="error-message">
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li class="error-text">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            
            <div class="input-box">
                {{ form.username }}
                <i class="bx bx-user"></i>
            </div>

            <div class="input-box">
                {{ form.password }}
                <i class="bx bxs-lock-alt"></i>
            </div> 

            <div class="remember-forgot">
                <label><input type="checkbox" name="remember_me"> Запомнить меня</label>
                <a href="{%url 'user:registration'%}">Зaрегистрироавться ?</a>

            </div>
            
            <button type="submit">Login</button>
        </form>

        </div> 
    </div>
</div>
{% endblock %}
