<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block extra_css%} 
    
    {%endblock%}

    <link rel="stylesheet" href="{% static 'main/css/base/base.css'%}">
    <link rel="icon" href="{%static 'main/img/logo.png'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    
    
    {% block title %}<title>RestaurantMenue</title>{% endblock %}
</head>
{%block body%} 

<div class="banner">
    <div class="navbar">
        {% comment %} <img src="{% static 'main/img/logo.png' %}" alt="logo"> {% endcomment %}
        <ul>
            <li><a href="{% url 'index' %}">МЕНЮ</a></li>
            {% comment %} <li><a href="{% url 'main:tracking_page' %}">СТАТУС ЗАКАЗА</a></li> {% endcomment %}
            <li><a href="{% url 'orders:order_list' %}">Заказы</a></li>          
            <li><a href="{% url 'main:order_page' %}">Корзина</a></li>
        </ul>

        {% if user.is_authenticated %}
            <ul class="auth-links">
                <li class="dropdown">
                    <a href="#">
                        <i class='bx bxs-user-circle'></i>
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_superuser or user.is_staff %}
                            <li><a href="{% url 'admin:index' %}">ADMIN</a></li>
                            <li><a href="{% url 'orders:revenue' %}">Расчеты</a></li>
                        {% endif %}
                        <li><a href="{% url 'user:logout' %}">LOG OUT</a></li>
                    </ul>
                </li>
            </ul>
        {% else %}
            <!-- Для гостей -->
            <ul class="guest-links">
                <li class="dropdown">
                    <a href="#"><i class='bx bxs-user-circle'></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'user:login' %}">Log In</a></li>
                        <li><a href="{% url 'user:registration' %}">Register</a></li>
                    </ul>
                </li>
            </ul>
        {% endif %}
    </div>
</div>

{%endblock%}

{% block extra_js %} {%endblock%}
</body>
</html>