{% extends "main/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/product_page/product_page.css' %}">
{% endblock %}

{% block title %}
    <title>Restaurant</title>
{% endblock %}

{% block body %}
{% include "main/base.html" %}
{% csrf_token %}
<div class="categories">
    <ul>
        <li><a href="{% url 'index' %}"><b>Все категории</a></li>
        {% for category in categories %}
            <li><a href="{% url 'main:product_category' category.id %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="goodsitems">
    {% for product in object_list %}
        <div class="goods">
            <div class="image">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="">
                {% endif %}
            </div>
            <a href="#"><h3>{{ product.name }}</h3></a>
            <p>Цена: {{ product.price }}₽</p>
            <div class="button-container">
                <button class="button" onclick="toggleQuantityPopup('{{ product.id }}')">Заказать</button>
                <div id="quantity-popup-{{ product.id }}" class="quantity-popup" style="display:none;">
                    <form method="POST" action="{% url 'main:order_add' product.id %}">
                        {% csrf_token %}
                        <label for="quantity-{{ product.id }}">Кол-во:</label>
                        <input type="number" name="quantity" id="quantity-{{ product.id }}" min="1" max="99" value="1">
                        <button type="submit" class="confirm-button">OK</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'main/js/product_page.js' %}"></script>
{% endblock %}
